.button {
    display: flex;
    padding: 10px 25px;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    background: none;

    border-radius: 30.569px;
    border: 1px solid var(--white);

    color: var(--white);

    font-family: Inter;
    font-size: 12px;
    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.button-arrow {
    width: 15px;
    height: 15px;
    border: 2px solid var(--white);
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.button-square-top {

}

.button-square-bottom {

}