.footer {
    padding: 100px 60px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    gap: 90px;
}

.footer img {
    width: 10%;
    position: absolute;
    top: 100;
    left: 60px;
}

.footer-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.footer-text-container {
    margin-left: 24%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-reseaux-sociaux-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}