.galerie-photo {
    padding: 0 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.galerie-photo img {
    width: 25%;
}